<br>
<section id="gallery">
    {{!-- <div id="gallery-imgs"> --}}
        {{#each image}}
            <div>
                <img src={{src}} alt="#" />
                <p>trial</p>
            </div>
            {{!-- <br> --}}
        {{/each}}
    {{!-- </div> --}}
</section>