<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PartyPoppers</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <nav>
      <button id="navName"><h1>PartyPoppers.ca</h1></button>
      <!-- <img id="navname" src="./views/images/TextLogo.png" alt="" srcset=""> -->
      {{!-- <img id="logoImg" src="./views/images/trial.png" alt="" srcset=""> --}}
      <a href="/about"><button id="navAbout"> <h1>About</h1></button></a>
      <a href="/gallery"><button id="navGallery" ><h1>Gallery</h1></button></a>
      <a href="/services"><button id="navServices"><h1>Services</h1></button></a>
      <a href="/contact"><button id="navContact"><h1>Contact</h1></button></a>

      {{!-- <h1 id="navAbout">About</h1>
      <h1 id="navGallery">Gallery</h1>
      <h1 id="navServices">Services</h1>
      <h1 id="navContact">Contact</h1> --}}
    </nav>

    {{{body}}}

  </body>
  <script src="./imgFile.js"></script>
  <script src="./logic.js"></script>
</html>
